.predict{
	background-color: red;
}
.container{
	
}
.header{
	background-color: blue;
	height: 100px;
	color: white;
	margin: 0;
}
#.btn{
	width: 150px;
	height: 50px;
	font-size: 30px;
	text-transform: capitalize;
	background-color: green;
	border: none;
}
table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}
tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99;}